<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2luZW1hfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <%= link_to "Create a new list", new_list_path, class: "btn btn-ghost" %>
  </div>
</div>

<div class="cards">
  <% @lists.each do |list| %>
    <% if list.photo.attached? %>
      <%= link_to list_path(list) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(list.photo.key), crop: :fill %>)">
          <%= list.name %>
        </div>
      <% end %>
    <% else %>
      <% if list.name.downcase == 'classic' || list.name.downcase == 'classics' %>
        <% url = 'https://wallpaperaccess.com/full/1561392.jpg' %>
      <% elsif list.name.downcase == 'superhero' || list.name.downcase == 'superheros' %>
        <% url = 'https://wallpaperaccess.com/full/247074.jpg' %>
      <% elsif list.name.downcase == 'animation' || list.name.downcase == 'animations' %>
        <% url = 'https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/34c0ce00-4b2b-4113-ae46-282dc56aae1c/ddxnu4i-4c98d715-53f0-42cb-a7d9-c16b96dced37.png/v1/fill/w_996,h_760,q_80,strp/pixar_characters_in_black_and_white_3d_by_dlee1293847_ddxnu4i-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzYwIiwicGF0aCI6IlwvZlwvMzRjMGNlMDAtNGIyYi00MTEzLWFlNDYtMjgyZGM1NmFhZTFjXC9kZHhudTRpLTRjOThkNzE1LTUzZjAtNDJjYi1hN2Q5LWMxNmI5NmRjZWQzNy5wbmciLCJ3aWR0aCI6Ijw9OTk2In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.xvOOp0-irpG4Xi_8pYg51VMYJMaAACewm0E9MfZXAAA' %>
      <% elsif list.name.downcase == 'drama' || list.name.downcase == 'dramas' %>
        <% url = 'https://media.cntraveler.com/photos/5ed019fe94e8b5f3037b62bc/master/w_400%2Cc_limit/La-Haine-RYMBA2.jpg' %>
      <% elsif list.name.downcase == 'comedy' || list.name.downcase == 'comedies' %>
        <% url = 'https://lh3.googleusercontent.com/proxy/yYsId_5CCADtbkFAQZYJHqXyncQqnl5nECUcVCvXhkutAbYOqLgHZ3YTbkY4qABnBjIdbVH0JANgbjyN5VGDjY9w-jbGWSTpzfYAr6horKEVA7S9-iOt54tMr-wa9UA6JnI3IQ' %>
      <% elsif list.name.downcase == 'action' || list.name.downcase == 'actions' %>
        <% url = 'https://wallpapercave.com/wp/wp3173712.jpg' %>
      <% elsif list.name.downcase == 'horror' || list.name.downcase == 'horrors' %>
        <% url = 'https://wallpaper.dog/large/5474922.jpg' %>
      <% else %>
        <% url = 'https://m.media-amazon.com/images/I/81cy-3iz06L._AC_SL1500_.jpg' %>
      <% end %>
      <%= link_to list_path(list) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= url %>)">
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
